<div class="row mb-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-md-12 p-4 my-2">
      <div class="row mb-4 content-wrapper">
        <h1>BUY, STAKE, EARN</h1>
        <p>Earn 180% reward with LP NFT staking</p>
        <div class="container-fluid row defi-btn-wrapper d-flex align-items-center justify-content">
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" href="/rewards">STAKE $MPWR</button>
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" href="/rewards">STAKE MPWR/WETH</button>
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" href="https://app.uniswap.org/#/swap?chain=mainnet&amp;outputCurrency=0x6731827Cb6879a2091ce3ab3423f7bf20539b579" target="_blank" rel="noreferrer"> BUY A
              AY</button></div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" href="/rewards">EARN AAY</button>
          </div>
        </div>
      </div>
      <hr/>
        <div class="row mb-4 content-wrapper">
            <div class="my-4">
                <h2>Claim rewards</h2>
            </div>
            <div class="d-grid gap-2 mb-4">
                <button class="btn btn-primary" type="button">List your assets</button>
                <button class="btn btn-primary" type="button">ILO</button>
            </div>
        </div>
        <hr />
        <div class="row mb-4 content-wrapper">
            <div class="row my-4">
                <h2>Collect staking rewards</h2>
                <div class="listing-rewards">
                    <p>Listing Rewards</p>
                    <h4>0</h4>
                    <div class="collect-rewards-btn d-grid gap-2">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary">Collect Rewards</button>
                        </div>
                    </div>
                    <p class="reward-tip-text">Earn by listing your Phygital Item</p>
                </div>
                <div class="trading-rewards">
                    <p>Trading Rewards</p>
                    <h4>0</h4>
                    <div class="collect-rewards-btn d-grid gap-2">
                        <button type="button" class="btn btn-primary">Collect Rewards</button>
                        <p class="reward-tip-text">
                            Earn trading rewards when you buy or sell any NFT on ClubRare (private listings excluded).
                            Rewards
                            distributed once daily. Claim period not available between 10:00AM - 12:00PM EST
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-4 content-wrapper">
            <div class="pair-staking">
                <h3>AAY/WETH LP Staking</h3>
                <p>Stake your AAY/WETH LP NFT and Earn up to <b>180% APR Rewards</b></p>
                <div class="row  mb-4">
                    <button type="button" class="btn btn-primary">Add Liquidity on Uniswap</button>
                </div>
                <div class="row reedemable-section">
                    <div class="col-12">
                        <div>
                            <h4>Total Staked LP</h4>
                        </div>
                        <h6>$ 4,894.13 USD</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="reward_stack_inn col-6">
                        <div class="dropdown">
                            <button class="btn btn-outline dropdown-toggle" type="button" id="dropdownMenu2"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Select NFT</b>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                                <li><button class="dropdown-item" type="button">ETH</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="reedemable-section col-6">
                        <b>Select Lock-up period</b>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="3mo-aay-eth">
                            <label class="form-check-label" for="3mo-aay-eth">3 months | 45% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="6mo-aay-eth">
                            <label class="form-check-label" for="6mo-aay-eth">6 months | 90% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="9mo-aay-eth">
                            <label class="form-check-label" for="9mo-aay-eth">9 months | 120% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="12mo-aay-eth">
                            <label class="form-check-label" for="12mo-aay-eth">12 months | 180% APR</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Stake</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mb-4 content-wrapper">
            <div class="pair-staking">
                <h2>AAY Staking</h2>
                <p>Stake your Alaya token and earn up to <b>35% APR Rewards</b></p>
                <div class="row mb-4">
                    <button type="button" class="btn btn-primary">Buy AAY</button>
                </div>
                <div class="row reedemable-section">
                    <div class="col-12 mb-4">
                        <h4>Total Value Locked</h4>
                        <h6>$ 921,894.13 USD</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-text" id="input-stake-amount">Stake</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="input-stake-amount">
                    </div>
                    <p class="reward-tip-text text-end">Available balance: 0</p>
                    <div class="reedemable-section my-2">
                        <h4>Select Lock-up period</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="3mo-aay">
                            <label class="form-check-label" for="3mo-aay">3 months | 7% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="6mo-aay">
                            <label class="form-check-label" for="6mo-aay">6 months | 15% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="9mo-aay">
                            <label class="form-check-label" for="9mo-aay">9 months | 25% APR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="lock-up-period-option" id="12mo-aay">
                            <label class="form-check-label" for="12mo-aay">12 months | 35% APR</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Stake</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
