<div class="card category-item bg-dark text-white">
  <a href="<%= category_path(category) %>">
    <img src="<%= category.image_url %>" class="card-img-top" />
    <div class="card-img-overlay">
      <h5 class="card-title"><%= category.name %></h5>
    </div>
  </a>
</div>
