<div class="dropdown period-filter">
  <button
    class="btn btn-secondary dropdown-toggle rounded-pill"
    type="button"
    id="dropdownMenu2"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    All time
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Today</button></li>
    <li><button class="dropdown-item" type="button">This week</button></li>
    <li><button class="dropdown-item" type="button">This month</button></li>
  </ul>
</div>
